<!DOCTYPE html>
<html lang="{{ page.lang | default('en') }}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title | default('Bulgarian Beaches') }}</title>
  {% if description %}
  <meta name="description" content="{{ description }}" />
  {% endif %}
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/screen.css" />
  <link rel="stylesheet" href="/css/print.css" media="print" />

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YXJ7TPYVNB"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YXJ7TPYVNB');
  </script>
</head>
<body>
  <div id="page" class="page">
    <div id="content" class="content">
      {% if breadcrumbs %}
      <div class="breadcrumbs">{{ breadcrumbs | safe }}</div>
      {% endif %}
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </div>
    <footer id="footer">
      <p>Copyright © 2025 Bulgarian Beaches. All Rights Reserved. Contact us at: tollodim at gmail dot com</p>
    </footer>
  </div>
</body>
</html>

