---
layout: base.njk
---


<hr />
<hr />

<ul class="gallery">
{% for photo in photos %}
  <li>
    <a href="{{ photo.url }}">
      <img src="/albums/{{ location }}/{{ photo.filename }}_TN"
           alt="{{ photo.title }}"
           loading="lazy" />
      <br />
      {{ photo.title }}
    </a>
  </li>
{% endfor %}
</ul>

{% if content %}
{{ content | safe }}
{% endif %}

