---
pagination:
  data: galleryData
  size: 1
  alias: gallery
permalink: "{{ gallery.locale }}/{{ gallery.location }}/index.html"
---

<h2>{% if gallery.locale == 'bg' %}Фотогалерия{% else %}Photo Gallery{% endif %}</h2>


<ul class="gallery">
{% for photo in gallery.photos %}
  <li>
    <a href="/{{ gallery.locale }}/{{ gallery.location }}/{{ photo.slug }}.html">
      {% set thumbnailName = photo.filename | replace('.jpg', '.jpg_TN') | replace('.JPG', '.JPG_TN') | replace('.png', '.png_TN') %}
      <img src="/albums/{{ gallery.location }}/{{ thumbnailName }}"
           alt="{{ photo.title }}"
           loading="lazy" />
      <br />
      {{ photo.title }}
    </a>
  </li>
{% endfor %}
</ul>

<div style="clear:both;"></div>

{% if gallery.gallery_description %}
<hr />
{% endif %}

{% if gallery.gallery_description %}
  {% for section in gallery.gallery_description %}
    <h2>{{ section.heading }}</h2>
    <p align="justify">{{ section.content }}</p>
  {% endfor %}
{% endif %}

