---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  {# Homepage #}
  <url>
    <loc>https://bgbeaches.com/</loc>
    <changefreq>monthly</changefreq>
    <priority>1.0</priority>
  </url>

  {# Language homepages #}
  <url>
    <loc>https://bgbeaches.com/bg/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>https://bgbeaches.com/en/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.9</priority>
  </url>

  {# Bulgarian galleries and photos #}
  {%- for location, data in bg %}
    {%- if data.photos %}
  <url>
    <loc>https://bgbeaches.com/bg/{{ location }}/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
      {%- for photo in data.photos %}
  <url>
    <loc>https://bgbeaches.com/bg/{{ location }}/{{ photo.slug }}.html</loc>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
      {%- endfor %}
    {%- endif %}
  {%- endfor %}

  {# English galleries and photos #}
  {%- for location, data in en %}
    {%- if data.photos %}
  <url>
    <loc>https://bgbeaches.com/en/{{ location }}/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
      {%- for photo in data.photos %}
  <url>
    <loc>https://bgbeaches.com/en/{{ location }}/{{ photo.slug }}.html</loc>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
      {%- endfor %}
    {%- endif %}
  {%- endfor %}
</urlset>

